<section class="container-geral__beneficios">
 <div class="container-beneficios__beneficios container">
  <div class="beneficios">
   <img class="icon-ouvidoria" src="../img/icon-ouvidoria-png.png" alt="Icon Ouvidoria">
   <h1>Ouvidoria</h1>
   <p>Sugestões, críticas e elogios</p>
  </div>
  <div class="beneficios">
   <img src="../img/icon-download.svg" alt="Icon Download">
   <h1>PCCV Download</h1>
   <p>Valorizando a carreira médica</p>
  </div>
  <div class="beneficios">
   <img src="../img/icon-convencao.svg" alt="Icon Conveção">
   <h1>Convenção Coletiva</h1>
   <p>Convenção 2020</p>
  </div>
  <div class="beneficios">
   <img class="icon-doctor" src="../img/icon-doctor-png.png" alt="Icon Doctor">
   <h1>Atenção Plantonista</h1>
   <p>Conheça os seus direitos</p>
  </div>
  <div class="beneficios">
   <img src="../img/icon-cadastro.svg" alt="Icon Cadastro">
   <h1>Cadastro Boletim</h1>
   <p>Emails com notícias semanais</p>
  </div>
 </div>
</section>