<section class="container-geral__campanhas-unimed container">
 <div class="container-campanhas">
  <h1>Campanhas</h1>
  <img src="../img/img-campanha.jpg" alt="Img Campanhas">
 </div>
 <div class="container-unimed">
  <h1>Unimed</h1>
  <img src="../img/img-unimed.jpg" alt="Img Unimed">
 </div>
</section>