<section class="container-geral__datas">
 <div class="container-datas container">
  <div class="logo-contato">
   <img src="../img/logo-sinmed-branca.svg" alt="Logo Sinmed Branca">
   <p>(82) 3221-0461<br>comunicacao@sinmedal.com.br<br>diretoria@sinmedal.com.br</p>
  </div>
  <div class="datas">
   <div class="data">
    <div class="cubo">
     <h1>13</h1><span>MAI</span>
    </div>
    <p>Encontro para discussão do reajuste salarial da classe em 2020</p>
   </div>
   <div class="data">
    <div class="cubo">
     <h1>22</h1><span>MAI</span>
    </div>
    <p>Passeata em prol de melhores condições de trabalho</p>
   </div>
  </div>
</section>