<section class="container-geral__destaques-beneficios container">
 <div class="container-destaques">
  <div class="titulo-dots__destaques">
   <h1>Destaques</h1>
   <div role="tablist" class="dots"></div>
  </div>
  <div class="glider-contain">
   <div class="glider">
    <div class="div-noticia">
     <img src="../img/img-noticia.jpg" alt="Imagem Notícia">
     <h1>Ação que exige EPIS e rodízio de profissionais goi ganha na Justiça do Trabalho</h1>
     <h2>A Justiça do Trabalho deu ganho de causa a ação impetrada pelo Departamento Jurídico do Sinmed sexta-feira, dia 26, requerendo direito dos médicos aos EPIs, em caráter de urgência, bem como solicitou que o município de Maceió cumpra o sistema de rodízio recomendado...</h2>
    </div>
    <div class="div-noticia">
     <img src="../img/img-noticia.jpg" alt="Imagem Notícia">
     <h1>Ação que exige EPIS e rodízio de profissionais goi ganha na Justiça do Trabalho</h1>
     <h2>A Justiça do Trabalho deu ganho de causa a ação impetrada pelo Departamento Jurídico do Sinmed sexta-feira, dia 26, requerendo direito dos médicos aos EPIs, em caráter de urgência, bem como solicitou que o município de Maceió cumpra o sistema de rodízio recomendado...</h2>
    </div>
    <div class="div-noticia">
     <img src="../img/img-noticia.jpg" alt="Imagem Notícia">
     <h1>Ação que exige EPIS e rodízio de profissionais goi ganha na Justiça do Trabalho</h1>
     <h2>A Justiça do Trabalho deu ganho de causa a ação impetrada pelo Departamento Jurídico do Sinmed sexta-feira, dia 26, requerendo direito dos médicos aos EPIs, em caráter de urgência, bem como solicitou que o município de Maceió cumpra o sistema de rodízio recomendado...</h2>
    </div>
    <div class="div-noticia">
     <img src="../img/img-noticia.jpg" alt="Imagem Notícia">
     <h1>Ação que exige EPIS e rodízio de profissionais goi ganha na Justiça do Trabalho</h1>
     <h2>A Justiça do Trabalho deu ganho de causa a ação impetrada pelo Departamento Jurídico do Sinmed sexta-feira, dia 26, requerendo direito dos médicos aos EPIs, em caráter de urgência, bem como solicitou que o município de Maceió cumpra o sistema de rodízio recomendado...</h2>
    </div>
    <div class="div-noticia">
     <img src="../img/img-noticia.jpg" alt="Imagem Notícia">
     <h1>Ação que exige EPIS e rodízio de profissionais goi ganha na Justiça do Trabalho</h1>
     <h2>A Justiça do Trabalho deu ganho de causa a ação impetrada pelo Departamento Jurídico do Sinmed sexta-feira, dia 26, requerendo direito dos médicos aos EPIs, em caráter de urgência, bem como solicitou que o município de Maceió cumpra o sistema de rodízio recomendado...</h2>
    </div>
   </div>
  </div>
 </div>
 <div class="container-beneficios">
  <div class="titulo-vermais__beneficios">
   <h1>Benefícios</h1>
   <a href="http://sinmedal.com.br/beneficios" target="_blank" rel="noreferrer">Ver Tudo</a>
  </div>
  <div class="beneficios">
   <img src="../img/logo-janga.png" alt="Logo Janga"></img>
   <h1>Restaurante Janga - Ponta Verde</h1>
   <h2>A cada prato duas ou mais pessoas a sobremesa é cortesia para associados.</h2>
  </div>
  <div class="beneficios">
   <img src="../img/logo-bodega-do-sertao.png" alt="Logo Janga"></img>
   <h1>Bodega do Sertão</h1>
   <h2>10% de desconto aplicado no valor total da conta do associado</h2>
  </div>
 </div>
</section>