<section class="container-geral__footer">
 <div class="container-footer container">
  <p>© Copyright 2020 - SINMED. Todos os direitos reservados</p>
  <img src="../img/logo-sindicalizi.svg" alt="Logo Sindicalizi">
 </div>
</section>