<div class="container-menu">
    <div class="container-geral__logo-afiliado">
        <div class="container__logo-afiliado">
            <a href="index.html" target="_self"><img alt="Logo America Dog Rescue"></a>
            <a href="https://sinmedal.sindicalizi.com.br/login" target="_blank" rel="noreferrer" class="area-afiliado"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32.7 45.7">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #129238;
                            }
                        </style>
                    </defs>
                    <g id="Camada_2" data-name="Camada 2">
                        <g id="Capa_1" data-name="Capa 1">
                            <circle class="cls-1" cx="16.4" cy="7.8" r="7.8" />
                            <path class="cls-1" d="M16.4,23.9a6,6,0,0,0,6-6H10.3A6,6,0,0,0,16.4,23.9Z" />
                            <path class="cls-1" d="M25.4,18a9,9,0,0,1-7.5,8.8v7.3a7.29,7.29,0,0,1-6.6,7.3,7.09,7.09,0,0,1-7.4-6.5,2.91,2.91,0,0,1,1-5.4A2.95,2.95,0,0,1,7,34.9a4,4,0,0,0,4.3,3.6,4.13,4.13,0,0,0,3.6-4.2V26.9a9,9,0,0,1-7.5-8.8A8.44,8.44,0,0,0,0,26.5V42a3.69,3.69,0,0,0,3.7,3.7H29A3.69,3.69,0,0,0,32.7,42V26.4A8.27,8.27,0,0,0,25.4,18Z" />
                        </g>
                    </g>
                </svg>Área do Filiado</a>
        </div>
    </div>
    <div class="container-geral__menu">
        <nav class="menu">
            <div class="spans-hamburguer">
                <span class="linha-1"></span>
                <span class="linha-2"></span>
                <span class="linha-3"></span>
            </div>
            <ul class="ul-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="http://sinmedal.com.br/sindicato/16/institucional" target="_blank" rel="noreferrer">Institucional</a></li>
                <li><a href="index.html">Serviços</a></li>
                <li><a href="http://sinmedal.com.br/noticias" target="_blank" rel="noreferrer">Notícias</a></li>
                <li><a href="index.html">Comunicação</a></li>
                <li><a href="http://sinmedal.com.br/beneficios" target="_blank" rel="noreferrer">Benefícios Sinmed</a></li>
                <li><a href="http://sinmedal.com.br/fale-conosco" target="_blank" rel="noreferrer">Fale Conosco</a></li>
                <div class="icons-menu">
                    <a href="https://www.facebook.com/ascomsimed" target="_blank" rel="noreferrer"><img src="../img/logo-facebook.svg" alt="Logo Facebook"></a>
                    <a href="https://www.instagram.com/sinmedalagoas/" target="_blank" rel="noreferrer"><img src="../img/logo-instagram.svg" alt="Logo Instagram"></a>
                    <img src="../img/icon-lupa.svg" alt="Icon Lupa">
                </div>
                <li class="filiacao"><a href="http://sinmedal.com.br/filie-se" target="_blank" rel="noreferrer"><img src="../img/icon-dinmedal-branco.svg" alt="Icon Sinmed">Associe-se</a></li>
            </ul>
        </nav>
    </div>
</div>