<section class="container-geral__noticias container">
 <div class="container__noticias-vertudo">
  <h1>Notícias</h1>
  <a href="http://sinmedal.com.br/noticias" target="_blank" rel="noreferrer">Ver Tudo</a>
 </div>
 <div class="container__posts">
  <div class="post">
   <img src="../img/img-post-1.jpg" alt="Imagem 1">
   <p>10/03/2020</p>
   <h1>Categoria mantém expectativa com percentual de reajuste a ser anunciado no dia 19</h1>
  </div>
  <div class="post">
   <img src="../img/img-post-2.jpg" alt="Imagem 2">
   <p>26/03/2020</p>
   <h1>Seguimos visitando as unidades de saúde</h1>
  </div>
  <div class="post">
   <img src="../img/img-post-3.jpg" alt="Imagem 3">
   <p>16/02/2020</p>
   <h1>Acusação contra médicos de Palmeira é leviana</h1>
  </div>
  <div class="post">
   <img src="../img/img-post-4.jpg" alt="Imagem 4">
   <p>09/02/2020</p>
   <h1>Pelo reajuste na bolsa da Residência dos médicos Alagoanos</h1>
  </div>
 </div>
</section>