{% extends './base-components/site-wrapper.njk' %}
{% block content %}
{% include './components/destaques-beneficios.njk' %}
{% include './components/noticias.njk' %}
{% include './components/beneficios.njk' %}
{% include './components/campanhas-unimed.njk' %}
{% include './components/datas.njk' %}
{% include './components/localizacao.njk' %}
{% include './components/footer.njk' %}
{% endblock %}